<input
    class="{{inputClass}}"
    id="id{{inputPlaceholder}}"
    type="{{inputType}}"
    name="{{inputName}}"
    placeholder="{{inputPlaceholder}}"
    autocomplete="{{inputAutocomplete}}"
    value="{{inputValue}}"
/>
<span class="input-invalid">{{inputInvalid}}</span>

