<ul class="chat-list-box">

    {{{inputSearch}}}
    <li class="chat-list-element">{{{chatOne}}}</li>
    <li class="chat-list-element">{{{chatTwo}}}</li>
    <li class="chat-list-element">{{{chatThree}}}</li>
</ul>
<div class="chat-area-box">
    <ul class="chat-area-footer">
        <li class="chat-list-element">
            {{{openedChat}}}
        </li>
    </ul>
    <div class="chat-area-main">
        <time datetime="2021-11-18T09:54" class="message-date"><span>Чаты</span></time>
        {{{recMess1}}}
        {{{sentMess1}}}
        {{{recMess2}}}
    </div>
    <div class="chat-msg-bottom">
        <img src="{{clip}}" alt="#">
        <form>
            {{{messageArea}}}
            {{{arrowButton}}}
        </form>

    </div>
</div>
