<div class="room-box-content">
    <div class="room-avatar">
        <img src="{{avatarImage}}" alt="#">
    </div>
    <div class="room-chat-info">
        <div class="chatName">
            <span>{{chatName}}</span>
        </div>
        <div class="lastMsg">
            {{#if userMsg}}
                <span class="userMsg">You:</span>
            {{/if}}
            <span>{{lastMsg}}</span>
        </div>
    </div>
</div>
<div class="room-adds-box">
    {{#if dateMsg}}
        <div class="dateMsg">{{dateMsg}}</div>
        {{#if newMsg}}
            <div class="newMsg">{{newMsg}}</div>
        {{/if}}
    {{else}}
        <div class="footer-chat-options"></div>
    {{/if}}
</div>
