<div class="box">
    <div class="content-box">
        <div class="footer-title">
            <span>{{footerTitle}}</span>
        </div>
        <div class="form-wrapper">
            <form id="formElem">
                <ul class="form-block-input">
                    {{#if auth}}
                        {{{inputLogin}}}
                        {{{inputPassword}}}
                    {{/if}}
                    {{#if register}}
                        {{{inputMail}}}
                        {{{inputLogin}}}
                        {{{inputName}}}
                        {{{inputScdName}}}
                        {{{inputPhone}}}
                        {{{inputPassword}}}
                        {{{inputPasswordScd}}}
                    {{/if}}
                </ul>
                {{{goButton}}}
                {{{altBtn}}}
            </form>
        </div>
    </div>
</div>

