<div class="box-return">
    {{{arrowButton}}}
</div>
<div class="box-profile">
    <div class="box-profile-footer">
        <label class="box-avatar-changer">
            <input type="file"/>
            <img src="{{avatarIcon}}" alt="#">
            <span class="avatar-changer">Изменить аватар</span>
        </label>
    </div>
    <form>
        <ul class="profile-form-wrapper">
            {{#if profile}}
                {{{inputMail}}}
                {{{inputLogin}}}
                {{{inputName}}}
                {{{inputScdName}}}
                {{{inputNick}}}
                {{{inputPhone}}}

            {{else}}
                {{{inputOldPass}}}
                {{{inputPassword}}}
                {{{inputPasswordScd}}}
            {{/if}}
        </ul>
        <div class="box-profile-bottom">
            {{#if buttons}}
                {{{button}}}
            {{else}}
                <ul class="list-wrapper">
                    {{{changeData}}}
                    {{{changePassword}}}
                    {{{exit}}}
                </ul>
            {{/if}}

        </div>
    </form>
</div>
