{{#if image}}
    <img src="{{imgSource}}" alt="#">
    <span class="span-img-time">{{messageTime}}</span>
{{else}}
    {{messageContent}}
    <span class="span-message-time">{{messageTime}}</span>
{{/if}}

